.logo{
  width: 35%;
}


.navbar-principal{
  flex-wrap: nowrap;
}

.navbar-toggler{
  padding: 0.1rem 0.5rem !important;
}

.navbar-nav, .basic-nav-dropdown{
  align-items: center;
}

.menina, .menino{
    width: 80%;

}

.form{ 
  padding:0 23%;
}

footer{
  background-color: #455A64;
  color: white;
}

.linha{
    border-left: 2px solid white;
  height: 100%;
}
@media (min-width: 1400px){
  .logo{
    width: 10%;
  }
  .menina{
   height: 70%;
  }
}