html{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.logo{
  width: 35%;
}

input[type="text"]{
   text-transform: capitalize !important;
}

.link-nav{
  width: 80vw;
}

.navbar-principal{
  flex-wrap: nowrap;
}

.navbar-toggler{
  padding: 0.1rem 0.5rem !important;
}

.navbar-nav, .basic-nav-dropdown{
  align-items: center;
}

.menina, .menino, .pessoas-predio, .mulher-predio{
    width: 80%;

}
.containerLoginReclamacao, .container-dashboard, .containerSobre{
  min-height: 70vh;
}

.div-incentivo{
  height: 39vh;
  background-color: #d8e8ef;
  color: #09366D !important;
  width: 103vw;

}
/* .containerLista{
  min-height: 52vh
} */

.termos-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary{
  background-color: #397d9c !important;
  border: none!important;
}

.botoesDash{
  width: 93vw;
}
.containerLogin{
  min-height: 64vh;
}

.icones-dashboard{
  margin-left: 10px;
}

footer{
  width: 100vw;
  background-color: #455A64;
  color: white;
}

.barra-progresso{
  min-width: 15vw;
}

.progress-bar{
  background-color: #397d9c !important;
}

.card{
  min-width: 20vw;
}

.card-sobre{
  height: 58vh;
}

.cardReclamacoes{
  background-color: #d8e8ef !important;
  border-radius: 4px;
  height: 60vh;
  overflow-y: scroll;

}

avaliacao-bairro{
  color: black!important;
}

.row-sobre{
  overflow-y: scroll;
}
.card-dashboard{
  height: 60vh;
 padding: 52px 10px;
}
.dropdown-toggle {
  width: 100%;
}
.linha{
  border-left: 2px solid white;
  height: 100%;
}
.linha2{
  border-left: 2px solid #455A64;
  height: 100%;
}
.dropdown-item:active{
  background-color: #397d9c !important;
}

.form-control:focus{
  border-color: #397d9c!important;
  box-shadow: 0 0 0 0.25rem rgb(57 125 156 / 25%)!important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(57 125 156 / 50%) !important;
}

.primary.dropdown-toggle:focus{
  box-shadow: 0 0 0 0.25rem rgb(57 125 156 / 50%) !important;
}

.header{
  background-image: url(./assets/img/paisagem.png);
  height: 62vh;
  background-position-y: 99%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img-sobre{
    height: 272px;
    object-fit: cover;
    object-position: 30% 42%;
}

.cardReclamacoes::-webkit-scrollbar, .row-sobre::-webkit-scrollbar{
width: 12px;
height: 12px;
}
.cardReclamacoes::-webkit-scrollbar-thumb, .row-sobre::-webkit-scrollbar-thumb{
background: #397D9C;
border-radius: 30px;
}
.cardReclamacoes::-webkit-scrollbar-thumb:hover, .row-sobre::-webkit-scrollbar-thumb:hover{
background: #B3AFB3;
}
.cardReclamacoes::-webkit-scrollbar-track, .row-sobre::-webkit-scrollbar-track{
background: #F5F5F5;
border-radius: 0px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

h1, h2, h4, h6{
  color: #C74A42 !important;
}
h3{
  color: #09366D!important;
}

@media (min-width: 1400px){
  .div-incentivo{
   height: 30vh;
  }
  .menina{
   height: 70%;
  }
  .link-nav{
    width: 30vw;
  }
  .header{
    display: block;
  }
  .botoesDash{
    width: 34vw;
  }
.row-sobre{
  overflow: hidden;
}

}