html{
  height: 100vh;
  width: 100vw;
}

.logo{
  width: 35%;
}

.linkNav{
  width: 80vw;
}

.navbar-principal{
  flex-wrap: nowrap;
}

.navbar-toggler{
  padding: 0.1rem 0.5rem !important;
}

.navbar-nav, .basic-nav-dropdown{
  align-items: center;
}

.menina, .menino, .pessoasPredio{
    width: 80%;

}
.containerLista, .containerLoginReclamacao{
  min-height: 70vh;
}

.btn-primary{
  background-color: #397d9c !important;
}

.form{ 
  padding:0 23%;
}

.containerLogin{
  height: 64vh;
}

footer{
  width: 100vw;
  background-color: #455A64;
  color: white;
}

.dropdown-toggle {
  width: 100%;
}
.linha{
    border-left: 2px solid white;
  height: 100%;
}


.header{
  background-image: url(./assets/img/paisagem.png);
  height: 62vh;
  background-position-y: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (min-width: 1400px){
  .menina{
   height: 70%;
  }
  .linkNav{
    width: 30vw;
  }
  .header{
    display: block;
  }


}